article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* DESIGN COLORS
#f2a11c
#222222
#fff
#000
#232323
#f4f4f4
#fcfcfc */

/* GENERAL STYLES */
html {
  font-size: 125%;
}

body {
  font-family: 'Catamaran', sans-serif;
  /* font-family: 'Pacifico', cursive; */
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1, 
h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  color: #1f2022;
  margin: 0;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:visited {
  display: none;
}

.menu {
	position: absolute;
	right: 20px;
  top: 20px;
  width: 40px;
  height: 30px;
  z-index: 1;
  font-size: 2rem;
  color: #fff;
	display: none;
}

.title {
  color: #222;
  font-family: 'Pacifico', cursive;
  font-size: 2.1rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
}

.wrapper {
  max-width: 1084px;
  margin : 0 auto;
}

/* HEADER STYLES */
header {
  background: url(../assets/image01First.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.topNav ul {
  text-align: center;
}

.topNav ul li {
  display: inline-block;
  padding: 15px 20px;
  margin: 0 auto;
  font-weight: 600;
}

.topNav ul a {
  color: #fff;
  border-bottom: 2px solid transparent;
  font-weight: 600;
}

.topNav ul a:hover {
  color: #f2a11c;
}

.headerContainer {
  position: relative;
}

.headerTitle {
  text-align: center;
  padding: 180px 0;
  margin: 0 auto;
}

.headerTitle h1 {
  color: #f2a11c;
  font-family: 'Pacifico', cursive;
  font-size: 6.5rem;
}

.headerSocialNav {
  color: #f2a11c;
  position: absolute;
  right: 40px;
  top: 37%;
}

.headerSocialNav a {
  color: #f2a11c;
  border: 2px solid transparent;
}

.headerSocialNav a:hover {
  color: #fff;
}

/* ABOUT US STYLES */
/* MISSION STATEMENT STYLES */
.about,
.mission {  
  width: 50%;
  float: left;
}

.aboutMobile,
.missionMobile {
  display: none;
}

.readMore {
  color: #f2a11c;
  background: #222;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;
  display: inline-block;
}

.about a:hover,
.mission a:hover {
  color: #fff;
}

.aboutText {
  padding: 80px 70px 70px 0;
}

.about p,
.mission p {
  padding-bottom: 30px;
}

.missionText {
  padding: 80px 0 70px 70px;
}

/* MEET ALISSA STYLES */
.meetBackground {
  background: #f4f4f4;
  padding: 100px 0;
}

.meet {
  float: left;
}

.meetImage {
  width: calc(100% / 3);
  /* text-align: center; */
  margin-right: 40px; 
}

.meetImageMobile {
  display: none;
}

.meetText {
  width: calc(66.66% - 40px);
}

.meetText h2 {
  line-height: 1;
}

.meetText p {
  padding: 48px 0 48px 0;
}

.meetText a:hover {
  color: #fff;
}

/* MID BANNER STYLES */
.midBanner {
  background: url(../assets/image05First.jpg) no-repeat;
  background-position: center;
  height: 60vh;
}

.midBannerWrapper {
  max-width: 800px;
  margin: 0 auto;
}

.midBannerContainer {
  text-align: center;
  padding: 25vh 0;
}

.icons {
  float: left;
  width: calc(100% / 3);
}

.icons i {
  color: #fff;
  font-size: 2rem;
}

.icons p {
  color: #f2a11c;
  font-size: 1.5rem;
}

/* GRAM STYLES */
.gramSection {
  padding: 80px 0;
}

.gramTitle {
  text-align: center;
  padding-bottom: 80px;
}

.gram {
  float: left;
  width: calc((100% - 80px) / 3);
  margin: 20px;
}

.gramContainer .gram:first-child{
  margin-left: 0;
}

.gramContainer .gram:nth-of-type(3){
  margin-right: 0;
}

/* FOOTER STYLES */
footer {
  background: #222222;
}

.bottomContainer {
  padding: 60px 0;
}

.bottomContainer p {
  color: #fff;
}

.bottomContainer a {
  color: #fff;
  font-size: 0.9rem;
}

.bottomNav {
  /* margin: 0 auto; */
  text-align: center;
}

.bottomNav ul a:hover {
  color: #f2a11c;
}

.bottomNav ul li {
  display: inline-block;
  font-weight: 600;
  padding: 15px 20px;
  text-transform: uppercase;
}

.bottom {
  float: left;
  width: 50%;
}

.bottom h2 {
  color: #f2a11c;
  font-family: 'Pacifico', cursive;
  font-size: 1.25rem;
  padding: 20px 0 10px 0;
}

.bottomBox2 p {
  padding-bottom: 10px;
}

form {
  font-size: 0.9rem;
  display: block;
}

input[type="email"] {
  color: #232323;
  float: left;
  width: 70%;
  padding: 7px 0 7px 30px;
}

input[type="submit"] {
  color: #1f2022;
  background: #f2a11c;
  border: 2px solid #f2a11c;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
  float: right;
  padding: 8px 0;
}

input[type="submit"]:hover {
  color: #f2a11c;
  background: #1f2022;
  border: 2px solid #1f2022;
}

.bottomBox1 p {
  width: 55%;
}

.copyright p {
  color: #fcfcfc;
  background: #000000;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  opacity: 0.5;
  padding: 8px;
}

/* MEDIA QUERIES STYLES */
@media(max-width: 1220px) {
  .wrapper {
    width: 80%;
  }

  .aboutText,
  .missionText {
    padding: 16px 20px;
  }

  .meetImage,
  .meetText {
    width: calc(50% - 20px);
  }
}

/* 758 835*/  
@media(max-width: 985px) {
  header {
    min-height: 600px;
    height: 50vw;
  }

  header {
    background: url(../assets/image01Mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 150vw;
}

  .topNav,
  .headerSocialNav {
    display:none;
  }

  .headerTitle h1  {
    font-size: 3.75rem;
  }
  .wrapper {
    width: 90%;
  }

  .about,
  .mission,
  .aboutMobile,
  .missionMobile,
  .meetImageMobile {
    width: 100%;
    float: none;
    display: block;
  }

  .aboutFull,
  .missionFull,
  .meetImage {
    display: none;
  }

  .readMore {
    text-align: center;
    margin: 0 auto;
  }

  .aboutText,
  .missionText {
    padding: 40px 0;
    text-align: center;
  }

  .meetBackground {
    padding: 60px 0;
  }

  .meet {
    float: none;
  }

  .meetText {
    width: 100%; 
    padding-top: 50px;
    text-align: center;
  }

  .meetText p {
    text-align: left;
  }

  .midBanner {
    background-position: top 50% right 30%;
    background-size: cover;
    height: 74vh;
}

  .midBannerContainer {
    padding: 50px 0;
}

  .icons {
    float: none;
    width: 100%;
    padding: 35px 0;
  }
  .gramSection {
    padding: 40px 0;
  }

  .gramTitle {
    padding-bottom: 40px;
  }

  .gram {
    width: calc(50% - 10px);
    /* margin: 0 5px; */
  }

  .gramMobile1 {
    margin-right: 15px;
  } 

  .gramMobile2 {
    /* margin: 0 0 0 5px; */
    margin-right: 0px;
    margin-left: 5px;
  }

  .gramMobileRemove {
    display: none;
    margin: 0;
  }

  .bottomContainer a {
    font-size: 1rem;
  }

  .bottomNav {
    float: none;
  }
  .bottomNav ul li {
    font-weight: 600;
    padding: 5px 14px;
    text-transform: none;
  }

  .bottom {
    float: none;
    width: 100%; 
  }

  input[type="email"],
  input[type="submit"] {
    float: none;
    width: 100%;
  }

  input[type="email"] {
    margin-bottom: 10px;
    text-align: center;
    padding: 0;
  }

  .bottomBox2 {
    font-size: .9rem;
  }

  .menu {
    display: block;
  }
}

@media(max-width: 399px) {
  .headerTitle h1  {
    font-size: 3.5rem;
  }
  
  .gram {
    width: 100%;
  }

}



